@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>Employee Mangement App</h1>
    <p class="lead">Employee Management App helps you to keep the details of your employees along with basic CRUD facilities provided to the Admin.</p>
    <p><a href="Home/UserSignIn" class="btn btn-primary btn-lg"> Click to Login &raquo;</a></p>
</div>

